* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gallery input {
    width: 100%;
    outline: none;
    border: 1px solid #eee;
    /* border-radius: 10px; */
    padding: .5rem;
    color: #aaa;
    margin: 1rem 0rem 2rem 0;
}

.list-group {
    cursor: pointer;
}

.card-header {
    text-align: center;
}

.list-group-item {
    padding: 1rem .5rem;
}

.card img {
    height: 200px;
}

a {
    color: #000 !important;
}


/* buttons  */

.btn-mre {
    width: 100%;
    padding: .5rem 3rem;
    background: transparent;
    padding: .5rem;
    outline: none;
    /* border: 1px solid #aaa; */
    text-decoration: none;
    list-style: none;
}

.btn-mre:hover {
    background-color: #000;
    color: #fff !important;
    transition: background-color .5s;
}